<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Core Java</h1>
    <p>The Core Java technologies and application programming interfaces (APIs) are the foundation of the Java Platform, Standard Edition (Java SE). They are used in all classes of Java programming, from desktop applications to Java EE applications. See the other tabs above for information on other technologies included in Java SE.</p>
    <p><a href="https://www.oracle.com/technetwork/java/javase/tech/index-jsp-137187.html">Learn more... </a> </p>

</body>
</html>