<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--Bootstrap CSS-->
    <!--<link rel="stylesheet"-->
          <!--href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
          <!--crossorigin="anonymous">-->
    <th:block th:insert="base :: bootstrap-css"></th:block>
    <link rel="stylesheet" type="text/css" href="css/style.css">



</head>
<body>
<div class="container-fluid">
    <div th:insert="base :: navbar"></div>

    <br>
    <hr>
    <br>
<!--<div class="flex">-->

    <div class="container2">
        <!--  github card begins -->
        <div class="card">
            <h3 class="title" align="left">Github</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>
            </div>
            <!--   replaced circle with text   -->
            <span align="center">
            <div class="circle">

                <font color="red">

                        <p>
                            <b>Brings together the world'and build better software...
                    Brings together the world'and build better software...
                    Brings together the world'and build better software...</b>
                    <!--add link to github here-->
               </p>
                </font>


                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!--       <circle class="stroke" cx="60" cy="60" r="50" /> -->
                </svg>
            </div>
            </span>
        </div>
        <!--  github card ends -->

        <!--  program design & algorith card begins  -->
        <div class="card">
            <h3 class="title" align="center">Program Design & Algorithms</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>

            </div>
            <!-- replace circle with text -->
            <div class="circle">

                <font color="red"><p> <b>Include Bootstrap’s source Sass and JavaScript files via npm, Composer or Meteor.
                    Package managed installs don’t include documentation, but do include our build system and readme.</b></font>
            </div>
        </div>
        <!--  program design & algorith card ends  -->

        <!--  core java begins  -->
        <div class="card">
            <h3 class="title" align="center">Core Java</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <!--    learn more link    -->
                <a href="https://github.com/">Learn More</a>

            </div>
            <div class="circle">

                <font color="red"><p> <b>Brings together ..</b></font>
                <!--       <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <circle class="stroke" cx="60" cy="60" r="50"/> -->
                </svg>
            </div>
        </div>
        <!--  core jave ends -->

        <!--  object oriented java begins  -->
        <div class="card">
            <h3 class="title" align="center">Object-Oriented Java</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <!--    learn     -->
                <a href="https://github.com/">Learn More</a>

            </div>
            <div class="circle">

                <font color="red"><p> <b>Brings together ..</b></font>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!--       <circle class="stroke" cx="60" cy="60" r="50"/> -->
                </svg>
            </div>
        </div>
        <div class="card">
            <h3 class="title" >HTML/CSS/
                BOOTSTRAP</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>

            </div>
            <div class="circle">
                <font color="red"><p> <b>Brings together ..</b></font>
                </p>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <!--       <circle class="stroke" cx="60" cy="60" r="50"/> -->
                </svg>
            </div>
        </div>
    </div>

</div>
<!--</div>-->
</body>
</html>