<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--Bootstrap CSS-->
    <!--<link rel="stylesheet"-->
          <!--href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
          <!--crossorigin="anonymous">-->
    <th:block th:insert="base :: bootstrap-css"></th:block>
    <link rel="stylesheet" type="text/css" href="css/style.css">



</head>
<body>
<div class="container-fluid">
    <div th:insert="base :: navbar"></div>

    <br>
    <hr>
    <br>
<!--<div class="flex">-->

    <div class="container2">
        <!--  github card begins -->
        <div class="card">
            <h3 class="title1" align="left">Github</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>
            </div>
            <!--   replaced circle with text   -->
            <span class="git" align="left">

                        <p>
                            <b> GitHub is how people build software.
                                We’re supporting a community where more than 36 million* people learn,
                                share, and work together to build software...</b>
                    <!--add link to github here-->
               </p>

            </span>
        </div>
        <!--  github card ends -->

        <!--  program design & algorith card begins  -->
        <div class="card">
            <h3 class="title2" align="center">Program Design <br>& Algorithms</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>

            </div>
            <!-- replace circle with text -->
            <span class="program" align="left">

                <p>
                    <b>An algorithm is a series of instructions, often referred to as a process,
                        which is to be followed when solving a paricular problem...</b>
                    </p>
            </span>
        </div>
        <!--  program design & algorith card ends  -->

        <!--  core java begins  -->
        <div class="card">
            <h3 class="title3">Core Java</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <!--    learn more link    -->
                <a href="https://github.com/">Learn More</a>

            </div>
            <span class="java" align="left">

                <p> <b>Core java is function of java.
                    Core java is used to developing the application of java.
                    It is a concept of java fundamental...</b>
                <!--       <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <circle class="stroke" cx="60" cy="60" r="50"/> -->
                </p>
            </span>
        </div>
        <!--  core jave ends -->

        <!--  object oriented java begins  -->
        <div class="card">
            <h3 class="title4" align="center">Object-Oriented Java</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <!--    learn     -->
                <a href="https://github.com/">Learn More</a>

            </div>
            <span class="OOJ" align="left">

                <p> <b>They are an abstraction, encapsulation, inheritance, and polymorphism.
                    Basically, Java OOP concepts let us create working methods and variables...</b></p>

            </span>
        </div>
        <div class="card">
            <h3 class="title" >HTML/CSS/
                BOOTSTRAP</h3>
            <div class="bar">
                <div class="emptybar"></div>
                <div class="filledbar"></div>
                <a href="https://github.com/">Learn More</a>

            </div>
            <span class="html" align="left">
                <p> <b>Bootstrap is a free front-end framework for faster and easier web development.
                    Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navi...</b>
                </p>
            </span>
        </div>
    </div>

</div>
<!--</div>-->
</body>
</html>