<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object-oriented Java</title>
</head>
<body>
    <h1>Object-oriented Java</h1>
    <p>If you've never used an object-oriented programming language before, you'll need to learn a few basic concepts before you can begin writing any code. This lesson will introduce you to objects, classes, inheritance, interfaces, and packages. Each discussion focuses on how these concepts relate to the real world, while simultaneously providing an introduction to the syntax of the Java programming language. </p>
    <p><a href="https://docs.oracle.com/javase/tutorial/java/concepts/index.html">Learn more... </a> </p>

</body>
</html>