<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program Design & Algorithms</title>
<body>

</body>
    <h1>Program Design</h1>
    <p>Program design is the process by which an agent creates a specification of a software artifact,
       Software design usually involves problem solving and planning a software solution. This includes
        both a low-level component and algorithm design and a high-level, architecture design.

        Software design is the process of envisioning and defining software solutions to one or more sets
        of problems. One of the main components of software design is the software requirements analysis (SRA).
        SRA is a part of the software development process that lists specifications used in software engineering.
        If the software is "semi-automated" or user centered, software design may involve user experience design
        yielding a storyboard to help determine those specifications. If the software is completely automated
        meaning no user or user interface), a software design may be as simple as a flow chart or text describing
        a planned sequence of events. There are also semi-standard methods like Unified Modeling Language and
        Fundamental modeling concepts. In either case, some documentation of the plan is usually the product of
        the design. Furthermore, a software design may be platform-independent or platform-specific, depending
        upon the availability of the technology used for the design
    </p>

    <h3>Design Concepts</h3>
    <p>The design concepts provide the software designer with a foundation from which more sophisticated methods can be applied. A set of fundamental design concepts has evolved. They are as follows:

        Abstraction - Abstraction is the process or result of generalization by reducing the information content of a concept or an observable phenomenon, typically in order to retain only information which is relevant for a particular purpose. It is an act of Representing essential features without including the background details or explanations.
        Refinement - It is the process of elaboration. A hierarchy is developed by decomposing a macroscopic statement of function in a step-wise fashion until programming language statements are reached. In each step, one or several instructions of a given program are decomposed into more detailed instructions. Abstraction and Refinement are complementary concepts.
        Modularity - Software architecture is divided into components called modules.
        Software Architecture - It refers to the overall structure of the software and the ways in which that structure provides conceptual integrity for a system. Good software architecture will yield a good return on investment with respect to the desired outcome of the project, e.g. in terms of performance, quality, schedule and cost.
        Control Hierarchy - A program structure that represents the organization of a program component and implies a hierarchy of control.
        Structural Partitioning - The program structure can be divided into both horizontally and vertically. Horizontal partitions define separate branches of modular hierarchy for each major program function. Vertical partitioning suggests that control and work should be distributed top down in the program structure.
        Data Structure - It is a representation of the logical relationship among individual elements of data.
        Software Procedure - It focuses on the processing of each module individually.
        Information Hiding - Modules should be specified and designed so that information contained within a module is inaccessible to other modules that have no need for such information.
        In his object model, Grady Booch mentions Abstraction, Encapsulation, Modularisation, and Hierarchy as fundamental software design principles. The acronym PHAME (Principles of Hierarchy, Abstraction, Modularisation, and Encapsulation) is sometimes used to refer to these four fundamental principles.</p>
    <p><a href="https://en.wikipedia.org/wiki/Software_design">Learn more... </a> </p>

    <h1>Algorithm</h1>
    <p>In mathematics and computer science, an algorithm is a set of instructions, typically to solve a class of problems or perform a computation. Algorithms are unambiguous specifications for performing calculation, data processing, automated reasoning, and other tasks.

        As an effective method, an algorithm can be expressed within a finite amount of space and time[1] and in a well-defined formal language[2] for calculating a function.[3] Starting from an initial state and initial input (perhaps empty),[4] the instructions describe a computation that, when executed, proceeds through a finite[5] number of well-defined successive states, eventually producing "output"[6] and terminating at a final ending state. The transition from one state to the next is not necessarily deterministic; some algorithms, known as randomized algorithms, incorporate random input.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Algorithm">Learn more... </a> </p>

</html>